@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

/*  font-family: "Roboto Condensed", sans-serif;
font-family: "Montserrat", sans-serif;
font-family: "Alex Brush", cursive;
font-family: "Oswald", sans-serif;
font-family: "Alumni Sans", sans-serif;
font-family: "Poppins", sans-serif;
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  scrollbar-width: none;
  margin: 0;
  padding: 0;
}

.contact-head-title {
  height: 70dvh;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  
  p{
    padding: 30px;
    max-width: 40rem;
    text-align: center;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
  }

  h1 {
    font-family: "Alumni Sans", sans-serif;
    font-size: 3rem;
    letter-spacing: 1.35px;
  }
}

.contact-details-container {
  display: flex;
  justify-content: space-evenly;
}

input[type="text"],
input[type="tel"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: none;
  background-color: #A9242B;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}
textarea:focus, input:focus {
    color: white;
}

input, select, textarea{
    color: white;
}

input[type="submit"] {
  background-color: #A9242B;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #A9242B;
}

.contact-form-container {
  border-radius: 5px;
  /* background-color: #f2f2f2; */
  padding: 20px;
  max-width: 25em;
}

.contact-main-container {
  margin-bottom: 10rem;
  color: white;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
  p {
    font-size: 2rem;
    font-family: "Alumni Sans", sans-serif;
  }
}
