@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

/*  font-family: "Roboto Condensed", sans-serif;
font-family: "Montserrat", sans-serif;
font-family: "Alex Brush", cursive;
font-family: "Oswald", sans-serif;
font-family: "Alumni Sans", sans-serif;
font-family: "Poppins", sans-serif;
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  scrollbar-width: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.do-now-container {
  margin-top: 10rem;
  /* background-color: #a9242b; */
  background-color: #A9242B;
;
  color: white;
  font-family: "Alumni Sans", sans-serif;
  position: relative;

  .do-now-bg-animation {
    font-size: 7rem;
    display: inline;
    overflow: hidden;
    /* color: #a9242b; */
    color: #A9242B;
;
    -webkit-text-stroke-color: #ffffff ;
    -webkit-text-stroke-width: 1px ;
    /* background-color: #a9242b; */
    background-color: #A9242B;
;
  }
  .do-now-content {
    margin: .5rem 0 0 0;
    padding: 0 30px;
    color: white;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    h1 {
      padding: 0 30px;
      font-size: 5rem;
      text-transform: uppercase;
      line-height: .9;
      margin-bottom: 2rem;
    }
    a {
      color: white;
      font-size: 2rem;
      text-transform: uppercase;
      text-decoration: underline 5px white;
    }
  }
}

.logos {
  overflow: hidden;
  white-space: nowrap;
  text-transform: uppercase;
  opacity: 0.1;
}
.logos-slide {
  display: flex;
  animation: slide 30s linear infinite;
}
.logos-slide-2 {
  display: flex;
  gap: 2.5rem;
  animation: slide-2 30s linear infinite;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes slide-2 {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
