@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

/*  font-family: "Roboto Condensed", sans-serif;
font-family: "Montserrat", sans-serif;
font-family: "Alex Brush", cursive;
font-family: "Oswald", sans-serif;
font-family: "Alumni Sans", sans-serif;
font-family: "Poppins", sans-serif;
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  scrollbar-width: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.first-page-container {
  background-image: url(../images/funnyBG.png);
  background-position: center;
  background-size: cover;
  padding: 30px;
  height: 100dvh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    text-transform: uppercase;
    font-size: 3.9rem;
    font-family: "Alumni Sans", sans-serif;
    line-height: 0.8;
    margin-bottom: 1rem;
    width- {
      font-weight: 100;
    }
    span {
      color: #a9242b;
    }
  }
  p {
    font-family: "Poppins", sans-serif;
    max-width: 40rem;
    margin-bottom: 5rem;
    font-size: 1rem;
    letter-spacing: 1px;
  }
  a {
    font-family: "Poppins", sans-serif;
    color: white;
    text-decoration: none;
    background-color: #a9242b;
    padding: 0.8rem 1.2rem;
    border-radius: 5px;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
}

.first-page-main-head-title {
  padding: 5rem 30px;
  color: white;
  h1 {
    margin-bottom: 2rem;
    font-family: "Alumni Sans", sans-serif;
    font-size: 4.5rem;
    text-transform: uppercase;
    line-height: 0.8;
    max-width: 20rem;
    span {
      color: #a9242b;
    }
  }
  p {
    font-family: "Poppins", sans-serif;
    max-width: 30rem;
    letter-spacing: 1px;
  }
}

Video {
  align-items: center;
  position: absolute;
  height: 500px;
  width: 100%;
  object-fit: cover;
  filter: grayscale(1), contrast(0.6);
  object-position: center;
}

.prices-boxes-container {
  display: none;
}

/* benefits */

.benefit-img {
  /* margin-top: 10rem; */
  padding: 0 30px;
  background-image: url(../images/ползиБиг.png);
  background-position: 6rem;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  line-height: 0.8;

  h1 {
    padding-top: 17.5rem;
    color: #fff;
    font-family: "Alumni Sans", sans-serif;
    font-size: 5rem;
    text-transform: uppercase;
    line-height: 0.8;
  }
}

.subTitle {
  padding: 30px;
  margin-top: 10rem;
  p {
    font-family: "Poppins", sans-serif;
    color: #fff;
    max-width: 35rem;
    span {
      color: #a9242b;
      font-weight: 600;
      font-size: 1.1rem;
    }
  }
}

/* ------------------------ */

@media (min-width: 600px) {
  .first-page-main-head-title {
    padding: 10rem 30px 5rem 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
      font-size: 5.5rem;
      max-width: 30rem;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1.1rem;
      max-width: 35rem;
    }
  }
  .nuber-one-trainer {
    margin-bottom: 0rem;
    h1 {
      font-size: 4rem;
    }
  }
}

@media (min-width: 900px) {
  .first-page-container {
    h1 {
      font-size: 5.5rem;
    }
    p {
      font-size: 1.1rem;
    }
  }
  .sections {
    display: flex;
    gap: 1rem;
    padding: 0 100px;
    .section-middle {
      margin: 0rem;
    }
  }

  /* benefits */

  .benefit-img {
    margin: 10rem  0 ;
    padding: 0 30px;
    background-image: url(../images/ползиБиг.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
    line-height: 0.8;

    h1 {
      padding-top: 17.5rem;
      color: #fff;
      font-family: "Alumni Sans", sans-serif;
      font-size: 5rem;
      text-transform: uppercase;
      line-height: 0.8;
    }
  }

  .subTitle {
    padding: 30px;
    margin-top: 10rem;
    p {
      font-family: "Poppins", sans-serif;
      color: #fff;
      max-width: 35rem;
      span {
        color: #a9242b;
        font-weight: 600;
        font-size: 1.1rem;
      }
    }
  }

  /* ------------------------ */
}

@media (min-width: 1000px) {
  .prices-boxes-container {
    justify-content: center;
  }
  .price-box-one,
  .price-box-four,
  .price-box-three,
  .price-box-two {
    height: 250px;
    margin-bottom: 2rem;
    width: 250px;
  }
}

@media (min-width: 1167px) {
  .prices-boxes-container {
    justify-content: center;
  }
  .price-box-one,
  .price-box-four,
  .price-box-three,
  .price-box-two {
    height: 270px;
    margin-bottom: 2rem;
    width: 270px;
  }
}

@media (min-width: 1200px) {
  .first-page-container {
    h1 {
      font-size: 5.5rem;
    }
    p {
      font-size: 1.1rem;
    }
  }
}

.sections {
  padding: 2rem;
}

.section-top {
  width: 100%;
  height: 500px;
  position: relative;
  h1 {
    text-transform: uppercase;
    font-family: "Alumni Sans", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    color: white;
    font-size: 4rem;
    letter-spacing: 1px;
    width: 100%;
    text-align: center;

    span {
      color: transparent;
      -webkit-text-stroke: 0.5px #fff;
    }
  }
}
.section-top::after {
  content: "";
  inset: 0;
  background-color: hwb(357 14% 34% / 0.741);
  position: absolute;
}
.section-middle {
  position: relative;
  width: 100%;
  height: 500px;
  margin: 2rem 0;
  h1 {
    text-transform: uppercase;
    font-family: "Alumni Sans", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    color: white;
    font-size: 4rem;
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
    span {
      color: transparent;
      -webkit-text-stroke: 0.5px #fff;
    }
  }
}
.section-middle::after {
  content: "";
  inset: 0;
  background-color: hwb(357 14% 34% / 0.741);
  position: absolute;
}
.section-bottom {
  position: relative;
  width: 100%;
  height: 500px;
  h1 {
    font-size: 2rem;
    text-transform: uppercase;
    font-family: "Alumni Sans", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    color: white;
    font-size: 4rem;
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
    span {
      color: transparent;
      -webkit-text-stroke: 0.5px #fff;
    }
  }
}
.section-bottom::after {
  content: "";
  inset: 0;
  background-color: hwb(357 14% 34% / 0.741);
  position: absolute;
}

Video {
  align-items: center;
  position: absolute;
  height: 500px;
  width: 100%;
  object-fit: cover;
  filter: grayscale(1), contrast(0.6);
  object-position: center;
}

.prices-boxes-container {
  padding: 30px;
  .price-box-one,
  .price-box-four,
  .price-box-three,
  .price-box-two {
    border: 1px solid #a9242b;
    min-height: 200px;
    margin-bottom: 2rem;
    min-width: 200px;
    gap: 2rem;
  }
  .price-box-one,
  .price-box-two,
  .price-box-three,
  .price-box-four {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    p {
      font-size: 1.1rem;
      letter-spacing: 1.5px;
      number {
        color: white;
        font-weight: 300;
        font-size: 1.5rem;
      }
    }
    span {
      color: #a9242b;
      font-size: 2.5rem;
      font-weight: 600;
      indiv- {
        font-weight: 300;
        font-size: 1.5rem;
      }
    }
  }
}

.test-container {
  padding: 10rem 30px 60px 30px;
}

.nuber-one-trainer {
  margin-bottom: 5rem;
  background-image: url(../images/Number1-bg.png);
  background-repeat: no-repeat;
  background-position: top bottom;
  height: 60vh;
  color: white;
  position: relative;
  min-width: 300px;
  h1 {
    position: absolute;
    bottom: 110px;
    font-family: "Alumni Sans", sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
    line-height: 0.8;
    span {
      color: #a9242b;
    }
  }
  p {
    position: absolute;
    font-family: "Poppins", sans-serif;
    bottom: 0px;
    max-width: 21rem;
    line-height: 1.35;
  }
}
