@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/*  font-family: "Roboto Condensed", sans-serif;
    font-family: "Montserrat", sans-serif;
    font-family: "Alex Brush", cursive;
    font-family: "Oswald", sans-serif;
    font-family: "Alumni Sans", sans-serif;
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --x-width: calc(var(--hamburger-hight) * 1.41421356237);
  --bar-width: 40px;
  --bar-hight: 4px;
  --hamburger-gap: 6px;
  --foreground: hsl(225, 100%, 51%);
  --background: white;
  --hamburger-margin: 30px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-hight: calc(var(--bar-hight) * 3 + var(--hamburger-gap) * 2);
}

body {
  background-color: hsl(222, 100%, 2%);
}

img {
  width: 100%;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;

  position: absolute;
  top: var(--hamburger-margin);
  left: var(--hamburger-margin);
  z-index: 2;
  cursor: pointer;
}

.hamburger-menu:has(input:checked) {
  --background: hsl(357, 65%, 40%);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-hight);
  background-color: var(--background);
  border-radius: 999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-hight) / -2);
}
.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-hight) / 2);
}

input {
  appearance: none;
  outline: none;
  pointer-events: none;
}
input:checked {
  opacity: 0;
  width: 0;
}

/* border-image: fill 1 linear-gradient(45deg, hsla(357, 65%, 40%, .5), hsla(0, 0%, 0%, 0.5)); */
.sidebar {
  transition: translate var(--animation-timing);
  translate: -100%;
  padding: var(--hamburger-margin) ;
  padding-top: calc(var(--hamburger-hight) + var(--hamburger-margin) + 1rem);
  background-color: var(--foreground);
  background-image: url(../images/download.jpg);
  background-size: 220%;
  border-image: fill 1 linear-gradient(90deg, hsla(357, 65%, 40%, .5), hsl(222, 100%, 2%));
  background-position: center;
  background-repeat: no-repeat;
  
  color: var(--background);
  max-width: 100dvw;
  min-height: 100dvh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0;
}

.sidebar li,
a {
  text-decoration: none;
  color: var(--background);
  list-style-type: none;
}

.sidebar img {
  width: 150px;
  opacity: 0;
}

.sidebar a {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-family: "Alumni Sans", sans-serif;
}

@media (min-width: 800px) {
  .sidebar {
    max-width: 45dvw;
    min-height: 100dvh;
  }
  
}
