@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

/*  font-family: "Roboto Condensed", sans-serif;
font-family: "Montserrat", sans-serif;
font-family: "Alex Brush", cursive;
font-family: "Oswald", sans-serif;
font-family: "Alumni Sans", sans-serif;
font-family: "Poppins", sans-serif;
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  scrollbar-width: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.hero-container {
  background-image: url(../images/funnyBG.png);
  background-position: center;
  background-size: cover;
  padding: 30px;
  text-align: center;
  height: 100dvh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    text-transform: uppercase;
    font-size: 4rem;
    font-family: "Alumni Sans", sans-serif;
    line-height: 0.8;
    margin-bottom: 1rem;
    span {
      /* color: #0544FF; */
      color: #a9242b;
    }
  }
  p {
    font-family: "Poppins", sans-serif;
    max-width: 22rem;
    margin-bottom: 5rem;
  }
  a {
    font-family: "Poppins", sans-serif;
    color: white;
    text-decoration: none;
    /* background-color: #0544FF; */
    background-color: #a9242b;
    padding: 0.8rem 1.2rem;
    border-radius: 5px;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
}

.main-title-container {
  padding: 10rem 30px 60px 30px;
  color: white;
  h1 {
    margin-bottom: 2rem;
    font-family: "Alumni Sans", sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
    line-height: 0.8;
    span {
      color: #a9242b;
    }
  }
  p {
    font-family: "Poppins", sans-serif;
    max-width: 40rem;
  }
}

.first-container {
  padding: 30px;

  heading {
    color: white;
    .head-title {
      h1 {
        font-family: "Alumni Sans", sans-serif;
        text-transform: uppercase;
        font-size: 3rem;
        line-height: 0.8;
        margin-bottom: 2rem;
        width: 300;
        position: relative;
      }
      h1::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 7px;
        height: 65%;
        transform: translateX(-10px);
        margin: -1rem 0;
        background-color: #a9242b;
      }
      p {
        font-size: 1rem;
        color: white;
        font-family: "Poppins", sans-serif;
        text-transform: none;
        line-height: 1.35;
        min-width: 15rem;
      }
    }
  }
}

/* MAIN */

.main-container {
  padding: 5rem 30px 30px 30px;

  .main-head-title {
    font-family: "Alumni Sans", sans-serif;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    h1 {
      font-size: 4.5rem;
      color: #a9242b;
      line-height: 0.8;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1rem;
      color: white;
      margin: 0 auto;
      font-family: "Poppins", sans-serif;
      text-transform: none;
      max-width: 37rem;
      line-height: 1.35;
      margin-bottom: 1rem;
    }
  }
}
.middle-space {
  margin: 7rem 0;
}

.sections {
  padding: 2rem;
}

.section-top {
  width: 100%;
  height: 500px;
  position: relative;
  h1 {
    text-transform: uppercase;
    font-family: "Alumni Sans", sans-serif;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%);
    z-index: 999;
    color: white;
    font-size: 4rem;
  }
  p {
    position: absolute;
    font-family: "Poppins", sans-serif;
    z-index: 99;
    color: white;
    width: 85%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
  }
}
.section-top::after {
  content: "";
  inset: 0;
  background-color: hwb(357 14% 34% / 0.741);
  position: absolute;
}
.section-middle {
  position: relative;
  width: 100%;
  height: 500px;
  margin: 2rem 0;
  h1 {
    text-transform: uppercase;
    font-family: "Alumni Sans", sans-serif;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%);
    z-index: 999;
    color: white;
    font-size: 4rem;
  }
  p {
    position: absolute;
    font-family: "Poppins", sans-serif;
    z-index: 99;
    color: white;
    width: 85%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
  }
}
.section-middle::after {
  content: "";
  inset: 0;
  background-color: hwb(357 14% 34% / 0.741);
  position: absolute;
}
.section-bottom {
  position: relative;
  width: 100%;
  height: 500px;
  h1 {
    font-size: 4rem;
    text-transform: uppercase;
    font-family: "Alumni Sans", sans-serif;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%);
    z-index: 999;
    color: white;
  }
  p {
    position: absolute;
    font-family: "Poppins", sans-serif;
    z-index: 99;
    color: white;
    width: 85%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
  }
}
.section-bottom::after {
  content: "";
  inset: 0;
  background-color: hwb(357 14% 34% / 0.741);
  position: absolute;
}

Video {
  align-items: center;
  position: absolute;
  height: 500px;
  width: 100%;
  object-fit: cover;
  filter: grayscale(1), contrast(0.6);
  object-position: center;
}

@media (min-width: 900px) {
  .hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100dvw;
  }
  .grid-boxes {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    align-items: center;
  }

  .hero-container {
    h1 {
      font-size: 6rem;
      padding: 0 100px;
    }
  }
  .sections {
    display: flex;
    gap: 1rem;
    padding: 0 100px;
  }
  .section-middle {
    margin: 0;
  }
  .main-container {
    padding: 10rem 30px 30px 30px;
    text-align: center;

    .main-head-title {
      h1 {
        font-size: 7rem;
        color: #a9242b;
        line-height: 0.8;
        margin-bottom: 2rem;
      }
      p {
        font-size: 1.1rem;
        letter-spacing: 1px;
        color: white;
        margin: 0 auto;
        font-family: "Poppins", sans-serif;
        text-transform: none;
        max-width: 37rem;
        margin-bottom: 7rem;
      }
    }
  }
  .first-container {
    display: flex;
    justify-content: space-around;
    gap: 3rem;
    padding: 0 60px;
    heading {
      .head-title {
        h1 {
          font-size: 2.5rem;
        }
        p {
          max-width: 25rem;
          letter-spacing: 1px;
        }
      }
    }
  }
  .middle-space {
    margin: 0;
  }
  .main-title-container {
    padding: 15rem 30px 10rem 30px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
      margin-bottom: 2rem;
      font-family: "Alumni Sans", sans-serif;
      font-size: 6rem;
      text-transform: uppercase;
      line-height: 0.8;
      span {
        color: #a9242b;
      }
    }
    p {
      font-family: "Poppins", sans-serif;
      text-align: center;
    }
  }

  .section-top {
    h1 {
      font-size: 3rem;
    }
  }
  .section-middle {
    h1 {
      font-size: 3rem;
    }
  }
  .section-bottom {
    h1 {
      font-size: 3rem;
    }
  }
}

@media (min-width: 1100px) {
  .first-container {
    heading {
      .head-title {
        h1 {
          font-size: 4rem;
        }
        p {
          font-size: 1.1rem;
        }
      }
    }
  }
  .section-top {
    h1 {
      font-size: 4rem;
    }
  }
  .section-middle {
    h1 {
      font-size: 4rem;
    }
  }
  .section-bottom {
    h1 {
      font-size: 4rem;
    }
  }
}
