@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

/*  font-family: "Roboto Condensed", sans-serif;
font-family: "Montserrat", sans-serif;
font-family: "Alex Brush", cursive;
font-family: "Oswald", sans-serif;
font-family: "Alumni Sans", sans-serif;
font-family: "Poppins", sans-serif;
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  scrollbar-width: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.test-container {
    padding: 10rem 30px 0 30px;
  }
  
  .training-together-container {
  margin: 5rem 0;
  padding: 0 30px;
  text-align: center;
  color: white;

  img {
    margin: 5rem 0rem 2rem 0;
    width: 70px;
  }

  h1 {
    text-transform: uppercase;
    font-family: "Alumni Sans", sans-serif;
    font-size: 3rem;
  }

  p {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    letter-spacing: 0.6px;
    padding: 1rem;
  }
}

@media (min-width: 1000px) {
  .training-together-container {
    margin: 10rem 0 15rem 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
    p {
      max-width: 30rem;
    }
  }
}
