@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

/*  font-family: "Roboto Condensed", sans-serif;
font-family: "Montserrat", sans-serif;
font-family: "Alex Brush", cursive;
font-family: "Oswald", sans-serif;
font-family: "Alumni Sans", sans-serif;
font-family: "Poppins", sans-serif;
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  scrollbar-width: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.what-we-offer-container {
  margin-top: 10rem;
  height: 90vh;
  width: 100dvw;
  color: white;
  position: relative;

  display: flex;
  align-items: center;

  Video {
    height: 100%;
    width: 100%;
    align-items: left;
  }

  .what-we-offer-content {
    padding: 30px;

    h1 {
      font-family: "Alumni Sans", sans-serif;
      position: relative;
      font-size: 5.5rem;
      font-weight: 700;
      line-height: 0.9;
      max-width: 20rem;
      z-index: 1;
    }
    p {
      margin: 5rem 0;
      font-family: "Montserrat", sans-serif;
      position: relative;
      max-width: 22rem;
      z-index: 1;
    }
    a {
      font-family: "Alumni Sans", sans-serif;
      position: relative;
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 2rem;
      z-index: 1;

      &::after {
        content: "";
        height: 5px;
        width: 100%;
        bottom: 0;
        left: 0;
        background-color: white;
        position: absolute;
      }
    }
  }
  .what-we-offer-content::after {
    content: "";
    inset: 0;
    background-color: hwb(357 14% 34% / 0.5);
    position: absolute;
  }
}

@media (min-width: 1000px) {
  .what-we-offer-container {
    margin-top: 10rem;
    height: 70vh;
    width: 100dvw;

    .what-we-offer-content {
      display: flex;
      justify-content: center;
      z-index: 1;
      width: 100%;
      gap: 10%;
      h1 {
        font-size: 6rem;
        max-width: 25rem;
      }
      .inside-container-flex {
        z-index: 1;
        align-self: flex-end;

        p {
          margin: 0 0 3rem 0;
          font-family: "Montserrat", sans-serif;
          position: relative;
          z-index: 1;
          align-self: stretch;
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  .what-we-offer-content {
    h1 {
      font-size: 11.5rem;
    }
  }
}
