@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

/*  font-family: "Roboto Condensed", sans-serif;
font-family: "Montserrat", sans-serif;
font-family: "Alex Brush", cursive;
font-family: "Oswald", sans-serif;
font-family: "Alumni Sans", sans-serif;
font-family: "Poppins", sans-serif;
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  scrollbar-width: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.packages-head-container {
  background-image: url(../../images/funnyBG.png);
  background-position: center;
  background-size: cover;
  padding: 0 30px;
  color: white;
  text-align: center;

  .packages-head-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    h1 {
      font-family: "Alumni Sans", sans-serif;
      text-transform: uppercase;
      font-size: 4rem;
      line-height: 0.8;
    }
    p {
      margin: 2rem 0 5rem 0;
      font-family: "Poppins", sans-serif;
      letter-spacing: 1px;
      font-size: 16px;
      font-weight: 100;
      line-height: 1.35;
    }
    a {
      text-decoration: none;
      color: white;
      font-family: "Poppins", sans-serif;
      text-transform: uppercase;
      font-size: 0.8rem;
      padding: 0.8rem 1.2rem;
      /* background-color: #a9242b; */
      background-color: #A9242B;
;
      border-radius: 5px;
    }
  }
}

.packages-main-head-container {
  padding: 100px 30px;
  color: white;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    text-transform: uppercase;
    font-family: "Alumni Sans", sans-serif;
    font-size: 4rem;
    line-height: 0.9;
  }

  p {
    margin: 1rem 0 0;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    max-width: 45rem;
    line-height: 1.35;
  }
}

.prices-boxes-container {
  padding: 30px;
  .price-box-one,
  .price-box-four,
  .price-box-three,
  .price-box-two {
    /* border: 1px solid #a9242b; */
    border: 1px solid #A9242B;
;
    min-height: 200px;
    margin-bottom: 2rem;
    min-width: 200px;
    gap: 1rem;
  }
  .price-box-one,
  .price-box-two,
  .price-box-three,
  .price-box-four {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    p {
      font-size: 1.1rem;
      letter-spacing: 1.5px;
      number {
        color: white;
        font-weight: 300;
        font-size: 1.5rem;
      }
    }
    span {
      /* color: #a9242b; */
      color: #A9242B;
      font-size: 2.5rem;
      font-weight: 600;
      indiv- {
        font-weight: 300;
        font-size: 1.5rem;
      }
    }
  }
}

@media (min-width: 656px) {
  .prices-boxes-container {
    padding: 0 160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    .price-box-one,
    .price-box-four,
    .price-box-three,
    .price-box-two {
      /* border: 1px solid #a9242b; */
      border: 1px solid #A9242B;
;
      min-height: 300px;
      margin-bottom: 0rem;
      min-width: 300px;
    }
  }
}
@media (min-width: 936px) {
  .packages-head-container {
  

  .packages-head-content {
    

    h1 {
      font-family: "Alumni Sans", sans-serif;
      text-transform: uppercase;
      font-size: 6rem;
      line-height: 0.8;
    }
    p {
      margin: 2rem 0 5rem 0;
      font-family: "Poppins", sans-serif;
      letter-spacing: 1px;
      font-size: 1.2rem;
      font-weight: 100;
      line-height: 1.35;
    }
    a {
      text-decoration: none;
      color: white;
      font-family: "Poppins", sans-serif;
      text-transform: uppercase;
      font-size: 0.8rem;
      padding: 0.8rem 1.2rem;
      /* background-color: #a9242b; */
      background-color: #A9242B;
;
      border-radius: 5px;
    }
  }
}
  .packages-main-head-container {
    h1 {
      font-size: 5rem;
    }
  }
}
@media (min-width: 1250px) {
  .prices-boxes-container {
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;

    .price-box-one,
    .price-box-four,
    .price-box-three,
    .price-box-two {
      min-height: 300px;
      margin-bottom: 0rem;
      min-width: 250px;
      max-width: 400px;
    }
  }
}
